body {
  background-color: #e0b1cb;
  font-family: "Nunito", sans-serif;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 100;
}
#navBarmain .navbar-brand {
  color: #d90429;
  font-size: 2rem;
}
#navBarmain .nav-link {
  color: white;
  font-size: 1.5rem;
}
#navBarmain .nav-link:hover {
  color: #d90429;
}
#navBarmain #searchBtn {
  color: violet;
}
#navBarmain #searchBtn:hover {
  background-color: violet;
  color: #d90429;
}
#headingOfGroup span {
  color: #d90429;
}
#headingOfGroup h1 {
  font-size: 4rem;
  font-weight: 100;
}
.red{
  color: #d90429;
}
#heading{
  font-size: 2.5rem;
}




@media (max-width: 1380px) {
  #headingOfGroup h1 {
    font-size: 3rem;
    font-weight: 100;
  }
}
